<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dashboard - Login</title>

    <!-- Favicon -->
    <!--<link rel="shortcut icon" type="image/x-icon" th:href="@{~/assets/img/favicon.png}">-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{~/assets/css/bootstrap.min.css}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{~/assets/css/font-awesome.min.css}">

    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{~/assets/css/style.css}">

    <!--[if lt IE 9]>
    <script th:src="@{~/assets/js/html5shiv.min.js}"></script>
    <script th:src="@{~/assets/js/respond.min.js}"></script>
    <![endif]-->

</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <!--school logo here -->
                    <!--<img class="img-fluid" th:src="@{~/assets/img/logo.png}" alt="Logo">-->
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Login</h1>
                        <p class="account-subtitle">Access to our dashboard</p>

                        <!-- Form -->
                        <form id="loginForm" action="/admin/login/process" method="post">

                            <div th:if="${param.failed}" class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                Invalid credential.
                            </div>

                            <div class="form-group">
                                <input  id="username" name="username" class="form-control" type="text" placeholder="Email" required="required">
                            </div>

                            <div class="form-group">
                                <input id="password" name="password" class="form-control" type="password" placeholder="Password" required="required">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Login</button>
                            </div>
                        </form>
                        <!-- /Form -->

                        <div class="text-center forgotpass"><a href="forgot-password.html">Forgot Password?</a></div>
                        <div class="login-or">
                            <span class="or-line"></span>
                            <span class="span-or">or</span>
                        </div>

                        <div class="text-center dont-have">Don’t have an account? <a href="#">Please contact your system administrator</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script th:src="@{~/assets/js/jquery-3.2.1.min.js}"></script>

<!-- Bootstrap Core JS -->
<script th:src="@{~/assets/js/popper.min.js}"></script>
<script th:src="@{~/assets/js/bootstrap.min.js}"></script>

<!-- Custom JS -->
<script th:src="@{~/assets/js/script.js}"></script>
</body>


</html>

