<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{~/assets/favicon.ico}" type="image/x-icon">
    <title>Freedom Network</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{~/assets/css/app.css}">
    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body class="light">
<!-- Pre loader -->
<div id="loader" class="loader">
    <div class="plane-container">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="app">
    <div class="page parallel">
        <div class="d-flex row">
            <div class="col-md-3 white">
                <div class="p-5 mt-5">
                    <!--<img th:src="@{/assets/img/basic/logo.png}" alt=""/>-->
                </div>
                <div class="p-5">
                    <h3>Gravity ERP</h3>
                    <p>Update Password</p>
                    <form id="loginForm" class="needs-validation" novalidate th:object="${update}"
                          action="/core/password/update" method="post">


                        <p th:if="${failed != null}" class="alert alert-danger erro" th:text="${failed}">Invalid
                            Credentials</p>

                        <input type="hidden" th:field="*{id}">
                        <div class="form-group has-icon"><i class="icon-user-secret"></i>
                            <input type="password" class="form-control form-control-lg" th:field="*{oldPassword}"
                                   id="oldpassword" name="oldPassword" placeholder="Old Password" required>
                            <div class="invalid-feedback">
                                Password is required.
                            </div>
                        </div>
                        <div class="form-group has-icon"><i class="icon-user-secret"></i>
                            <input type="password" class="form-control form-control-lg" th:field="*{newPassword}"
                                   id="newpassword" name="oldPassword" placeholder="New Password" required>
                            <div class="invalid-feedback">
                                Password is required.
                            </div>
                        </div>
                        <div class="form-group has-icon"><i class="icon-user-secret"></i>
                            <input type="password" class="form-control form-control-lg" th:field="*{confirmpassword}"
                                   id="confirmpassword" name="oldPassword" placeholder="Confirm Password" required>
                            <div class="invalid-feedback">
                                Confirm the password entered.
                            </div>
                        </div>

                        <input type="submit" id="submitBtn" class="btn btn-primary btn-lg btn-block" value="Reset">
                    </form>
                </div>
            </div>
            <div class="col-md-9  height-full blue accent-3 align-self-center text-center" data-bg-repeat="false"
                 data-bg-possition="center"
                 style="background: url('/assets/img/icon/icon-plane.png') #FFEFE4">
            </div>
        </div>
    </div>
    <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
    <div class="control-sidebar-bg shadow white fixed"></div>
</div>
<!--/#app -->
<script th:src="@{~/assets/js/app.js}"></script>
<script>


</script>
</body>
</html>

