<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>MYSCHOOL - Dashboard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{~/assets/img/favicon.png}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{~/assets/css/bootstrap.min.css}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{~/assets/css/font-awesome.min.css}">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" th:href="@{~/assets/css/feathericon.min.css}">

    <link rel="stylesheet" th:href="@{~/assets/plugins/morris/morris.css}">

    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{~/assets/css/style.css}">

    <!--[if lt IE 9]>
    <script th:src="@{~/assets/js/html5shiv.min.js}"></script>
    <script th:src="@{~/assets/js/respond.min.js}"></script>
    <![endif]-->

</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div class="header">

        <!-- Logo -->
        <div class="header-left">
            <a href="index.html" class="logo">
                <!--<img th:src="@{~/assets/img/logo.png}" alt="Logo">-->
            </a>
            <a href="index.html" class="logo logo-small">
                <!--<img th:src="@{~/assets/img/logo-small.png}" alt="Logo" width="30" height="30">-->
            </a>
        </div>
        <!-- /Logo -->

        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fe fe-text-align-left"></i>
        </a>

        <div class="top-nav-search">
            <form>
                <input type="text" class="form-control" placeholder="Search here">
                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
            <i class="fa fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

        <!-- Header Right Menu -->
        <ul class="nav user-menu">

            <!-- App Lists -->
            <li class="nav-item dropdown app-dropdown">
                <a class="nav-link dropdown-toggle" aria-expanded="false" roles="button" data-toggle="dropdown" href="#"><i class="fe fe-app-menu"></i></a>
                <ul class="dropdown-menu app-dropdown-menu">
                    <li>
                        <div class="app-list">
                            <div class="row">
                                <div class="col"><a class="app-item" href="inbox.html"><i class="fa fa-envelope"></i><span>Email</span></a></div>
                                <div class="col"><a class="app-item" href="#"><i class="fa fa-calendar"></i><span>Calendar</span></a></div>
                                <div class="col"><a class="app-item" href="#"><i class="fa fa-comments"></i><span>Chat</span></a></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- /App Lists -->

            <!-- Notifications -->
            <li class="nav-item dropdown noti-dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
                </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span class="notification-title">Notifications</span>
                        <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                    </div>
                    <div class="noti-content">
                        <ul class="notification-list">
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" th:src="@{~/assets/img/logo-small.png}">
												</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
                                            <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" th:src="@{~/assets/img/profiles/avatar-11.jpg}">
												</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
                                            <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" th:src="@{~/assets/img/profiles/avatar-17.jpg}">
												</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
                                            <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" th:src="@{~/assets/img/profiles/avatar-13.jpg}">
												</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
                                            <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="#">View all Notifications</a>
                    </div>
                </div>
            </li>
            <!-- /Notifications -->

            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img"><img class="rounded-circle" th:src="@{~/assets/img/profiles/avatar-01.jpg}" width="31" alt="Ryan Taylor"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img th:src="@{~/assets/img/profiles/avatar-01.jpg}" alt="User Image" class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6>Ryan Taylor</h6>
                            <p class="text-muted mb-0">Administrator</p>
                        </div>
                    </div>
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a class="dropdown-item" href="#">Account Settings</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
            <!-- /User Menu -->

        </ul>
        <!-- /Header Right Menu -->

    </div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>

                    <li class="active">
                        <a href="index.html"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fe fe-users"></i> <span> Student Management</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="#">Enroll</a></li>
                            <li><a href="#">Edit</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fe fe-users"></i> <span> Staff Management</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="#">View</a></li>
                            <li><a href="#">Add</a></li>
                            <li><a href="#">Edit</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fe fe-book"></i> <span> Exam Management</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="#">View</a></li>
                            <li><a href="#">Add</a></li>
                            <li><a href="#">Edit</a></li>
                        </ul>
                    </li>


                    <li class="submenu">
                        <a href="#"><i class="fe fe-tablet"></i> <span> Course Management</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="#">Chat</a></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Email</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fe fe-document"></i> <span> Library Management</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="#">Chat</a></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Email</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fe fe-building"></i> <span> Class Management</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="#">Chat</a></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Email</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fe fe-calendar"></i> <span>Timetable Management</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="#">Chat</a></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Email</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fe fe-bar"></i> <span> Result Management</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="#">Chat</a></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Email</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fe fe-wallet"></i> <span> Financial Management</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="#">Chat</a></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Email</a></li>
                        </ul>
                    </li>


                    <li class="submenu">
                        <a href="#"><i class="fe fe-notice-push"></i> <span> Notification</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="#">Chat</a></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Email</a></li>
                        </ul>
                    </li>





                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <!-- Main Container -->
    <main id="main-container" layout:fragment="content">
        <!-- Page Content -->

        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script th:src="@{~/assets/js/jquery-3.2.1.min.js}"></script>

<!-- Bootstrap Core JS -->
<script th:src="@{~/assets/js/popper.min.js}"></script>
<script th:src="@{~/assets/js/bootstrap.min.js}"></script>

<!-- Slimscroll JS -->
<script th:src="@{~/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<script th:src="@{~/assets/plugins/raphael/raphael.min.js}"></script>
<script th:src="@{~/assets/plugins/morris/morris.min.js}"></script>
<script th:src="@{~/assets/js/chart.morris.js}"></script>

<!-- Custom JS -->
<script  th:src="@{~/assets/js/script.js}"></script>

<th:block layout:fragment="scripts">


</th:block>

</body>
</html>